nav.navbar.navbar-inverse.navbar-fixed-top role="navigation"
  .navbar-header
    button.navbar-toggle data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button"
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand href="index.html" SB Admin

  / menu admin
  .collapse.navbar-collapse.navbar-ex1-collapse
  	ul.nav.navbar-nav.side-nav
		  li.active
		    = link_to admin_root_path do 
		      i.fa.fa-dashboard
		      | Dashboard
		  li
		    = link_to admin_users_path do
		      i.fa.fa-user
		      | User
		  li
		  	= link_to admin_tourisms_path do
		      i.fa.fa-camera
		      | Tourisms
		  li
		    a href="forms.html"
		      i.fa.fa-edit
		      | Forms
		  li
		    a href="typography.html"
		      i.fa.fa-font
		      | Typography
		  li
		    a href="bootstrap-elements.html"
		      i.fa.fa-desktop
		      | Bootstrap Elements
		  li
		    a href="bootstrap-grid.html"
		      i.fa.fa-wrench
		      | Bootstrap Grid
		  li
		    a href="blank-page.html"
		      i.fa.fa-file
		      | Blank Page

  	ul.nav.navbar-nav.navbar-right.navbar-user
  		li.dropdown
  			a href="#"
				  i.fa.fa-envelope
				  | Messages
			li.dropdown
				= link_to destroy_user_session_path, data:{method: :delete} do
					i.fa.fa-power-off
					| Log Out

					  



			

		
				  
