.nested-fields
  .form-group
    = f.label :photo, class: "col-sm-2 control-label"
    .col-sm-6.custom_file_upload
      = text_field_tag "file_info", nil, class: "file"
      .file_upload
        = f.input :photo, label: false, id: "file_upload"
    = link_to_remove_association "", f