.row
	h1
		i.fa.fa-plus
		| Tourism New
		small Admin
hr

.col-md-6
  = simple_form_for @tourism, url: admin_tourisms_path,
   defaults: {input_html: {class: "form-horizontal"} }, role: "form" do |f|
  	.form-group
	  	= f.label :name, class: "col-sm-2 control-label", id: :lable_name
	  	.col-sm-10
	  		=f.input :name, input_html: { class: "form-control" }, label: false
  	.form-group
	  	= f.label :country, class: "col-sm-2 control-label"
	  	.col-sm-10
	  		=f.input :country, as: :string, input_html: { class: "form-control" }, label: false
		.form-group
			= f.label :region, class: "col-sm-2 control-label"
			.col-sm-10
				=f.input :region, as: :string, input_html: { class: "form-control" }, label: false
		.form-group
			= f.label :city, class: "col-sm-2 control-label"
			.col-sm-10
				=f.input :city, as: :string, input_html: { class: "form-control" }, label: false
		.form-group
			= f.label :address, class: "col-sm-2 control-label"
			.col-sm-10
				=f.input :address, as: :string, input_html: { class: "form-control" }, label: false
		.form-group
			= f.label :description, class: "col-sm-2 control-label"
			.col-sm-10
				=f.input :description, as: :text, input_html: { class: "form-control" }, label: false
		.form-group
			= f.label :lat, class: "col-sm-2 control-label"
			.col-sm-10
				=f.input :lat, input_html: { class: "form-control" }, label: false
		.form-group
			= f.label :lng, class: "col-sm-2 control-label"
			.col-sm-10
				=f.input :lng, input_html: { class: "form-control" }, label: false
		#images
			= f.simple_fields_for :images, wrapper: 'inline'
	  	.links
	    	= link_to_add_association 'add image', f, :images

.col-md-6
	input#find-location-map.form-control placeholder="Find Location"
	p
		#map-tourism




-content_for :head_stylesheet do
	= stylesheet_link_tag "admin/tourisms"

-content_for :head_javascript do
	= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"
	= javascript_include_tag "admin/tourisms", "cocoon"