<h1>
  <i class="fa fa-user"></i>
  Users <small>Admin</small>
</h1>
<hr></hr>

<%= form_tag admin_users_path, method: 'get', html: {role: "form"} do %>
<p>
  <div class="col-lg-4">
    <%= text_field_tag :search, params[:search], class: "form-control" %>
  </div>

  <div class="col-lg-3">
    <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
    <%= link_to "All", admin_users_path, {class: "btn btn-sm btn-link"} %>
  </div>
</p>
<% end %>

<br/>
<br/>
<br/>


<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Admin</th>
    <th>Email</th>
    <th>Sign In Count</th>
    <th></th>
  </tr>
  
  <% @users.each do |user| %>
  
  <tr>
    <td><%= user.id %></td>
    <td><%= link_to user.username.capitalize, admin_user_path(user) %></td>
    <td><%= user.admin? ? "<b>yes</b>".html_safe : "no" %></td>
    <td><%= user.email %></td>
    <td><%= user.sign_in_count %></td>
    <td>
      <%= link_to admin_user_path(user), class: "btn btn-primary" do %>
        <i class= "fa fa-pencil"></i>
        Edit
      <%end%>
    </td>
  </tr>
  
  <% end %>
  
</table>

<div class="text-center">
  <p><%= page_entries_info @users %></p>
  <%= paginate @users %>
</div>