doctype
html
  head
    meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"
      title= @title || "RoverTrip"
      = favicon_link_tag 'favicon.ico'
      = stylesheet_link_tag "application", "sb-admin", media: "all", "data-turbolinks-track" => true
      = yield :head_stylesheet
      = csrf_meta_tags
  body
    #wrapper
      header
        = render 'layouts/admin/navigation'
      #page-wrapper
        = yield
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield :head_javascript